* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--fontFamily-noto_sans);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-oxford-blue-2);
  color: var(--text-color);
  /* color: var(--text-shadow-blue); */

}

:root {

    /**
     * COLORS
     */
  
     
    /** Background colors */
    --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --bg-carolina-blue: hsla(199, 89%, 49%, 1);
    --bg-prussian-blue: hsla(216, 33%, 20%, 1);
    --bg-oxford-blue: hsla(222, 44%, 13%, 1);
    --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #0ef;
  
    /** Text colors */
    --text-color: #fff;
    --text-white: hsla(0, 0%, 100%, 1);
    --text-alice-blue: hsla(216, 100%, 95%, 1);
    --text-columbia-blue: hsla(199, 69%, 84%, 1);
    --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --text-carolina-blue: hsla(199, 89%, 49%, 1);
    --text-shadow-blue: hsla(217, 24%, 59%, 1);
    --text-slate-gray: hsla(217, 17%, 48%, 1);
  
  
  
    /** Border colors */
    --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --border-prussian-blue: hsla(216, 33%, 20%, 1);
    --border-white: hsl(0, 0%, 100%);
    --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);
  
 
  /**
   * BOX SHADOW
   */

  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
   
    /**
   * BORDER RADIUS
   */

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;


  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);

    /**
   * TRANSITION
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  /**
     * TYPOGRAPHY
     */

     --section-padding: 70px;
  
    /** Font family */
    --fontFamily-noto_sans: 'Noto Sans', sans-serif;  
  
  }

  section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
  }

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}


/*  */



@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

span {
  color: var(--bg-carolina-blue);
}

  
 
  
  .button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-carolina-blue);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-carolina-blue);
    font-size: 1.6rem;
    color: var(--bg-oxford-blue);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
  }
  .button:hover{
    box-shadow: none;
  }
  
/*  */
.hero-bg { display: none; } 
/* .home-image { position: relative; } */

/* .home-image .home-img {
  max-width: max-content;
  margin-inline: auto;
} */




.home .shape-1 {
  top: 50px;
  right: 40px;
}

.home .shape-2 {
  bottom: 20px;
  left: 24px;
}




 
  
  /*-----------------------------------*\
    #SKILSS 
  \*-----------------------------------*/
 
   
  
  #skills h2 {
    margin-bottom: 5rem;
  }
  .skills-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .skills-container .skills-card-1 {
    flex: 1 1 30rem;
    background: var(--bg-oxford-blue);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--border-prussian-blue);
    transition: .5s ease;
  }
  .skills-container .skills-card-1:hover {
    border-color: var(--bg-carolina-blue);
    transform: scale(1.02);
  } 
  .skills-card-1 i {
    font-size: 7rem;
    color: var(--bg-carolina-blue);
  }
  .skills-card-1 h3 {
    font-size: 2.6rem;
  
  }
  .skills-card-1 p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
  }
   
  
  /*-----------------------------------*\
    #Projects
  \*-----------------------------------*/

 
  

 

  .tags .grid-list { grid-template-columns: repeat(auto-fit, minmax(125px, 1fr)); }
  
.container { padding-inline: 16px; }
  .tag-btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 18px;
    border-radius: var(--radius-16);
  }
  
  .tag-btn:is(:hover, :focus-visible) {
    box-shadow: var(--shadow-2);
    background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
    background-clip: padding-box, border-box;
    border-color: transparent;
    transform: translateY(-2px);
    transition: var(--transition-1);
  }
  
  .tag-btn img {
    width: 100%;
    max-width: 32px;
  }
  
  .grid-list {
    display: grid;
    gap: 30px;
    list-style: none;
   
  }
  
  .skills-card {
    background-color: var(--bg-oxford-blue);
    border: 1px solid var(--border-prussian-blue);
  }
  .skills-card-name {
    color: #7d91b0;
  }


  







/* ======== BREAKPOINTS */

  @media (max-width: 1200px) {
    html {
      font-size: 55%;

    }
  }
  @media (max-width: 991px) {
  
    section {
      padding: 10rem 3% 2rem;
    }
    .skills {
      padding-bottom: 7rem;
    }
   



  }
  @media (max-width: 768px) {
   
 
.skills h2 {
  margin-bottom: 3rem;
}

}

  @media (max-width: 450px){
    html {
      font-size: 50%;
    }

  }
  @media (max-width: 365px){
    .home-img img {
      width: 90vw;
    }
  }

  @media (min-width: 575px) {
    .home { position: relative; }

    .hero-bg {
      display: block;
      position: absolute;
      pointer-events: none;
    }
    
    .hero-bg-1 {
      top: 80px;
      left: 0;
    }
    
    .hero-bg-2 {
      bottom: -200px;
      left: -20px;
    }
    
    .shape-2 { left: 60px; }

  }